/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --title-color: #353430;
    --text-color: #353430;
    --title-decor-color: #353430;
    --title-decor-bg: #ff8dcb;
    --header-title-color: #ffc2e6;
    --button-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --link-shadow-color: #ff8dcb;
    --bg-image: url("../images/cover-image-light.png");
}

.theme-light .page {
    --bg-image: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
    :root.theme-light {
        --bg-color: #fff1f7;
        --accent-color: #ff8dcb;
        --title-color: #353430;
        --text-color: #353430;
        --title-decor-color: #353430;
        --title-decor-bg: #ff8dcb;
        --header-title-color: #ffc2e6;
        --button-color: #353430;
        --button-hover-color: rgba(50, 49, 45, 0.4);
        --link-shadow-color: #ff8dcb;
        --bg-image: url("../images/cover-image-light.png");
    }

    .theme-light .page {
        --bg-image: url("../images/cover-image-light.png");
    }
}